@model Infraestructure.Models.Venta
@{
    ViewBag.Title = "Comprar";
}
<head>
    <link rel="stylesheet" href="~/Content/CSSEstiloVentas/EstiloMovimientoVenta.css">

</head>
<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Carrito de compra
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper8.png" />
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <br />
    <br />
    <section class="formulario">
        <center>
            <br />
            <h2 id="titulo">Nueva Venta</h2>
            <br />
            @using (Html.BeginForm("Save", "Venta", FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                <div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group3">
                                <br />
                                @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.fecha, htmlAttributes: new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group3">
                                @Html.LabelFor(model => model.tipopago, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.RadioButtonFor(model => model.tipopago, true, new { id = "married-true" })
                                    @Html.Label("married-true", "Efectivo")
                                    @Html.RadioButtonFor(model => model.tipopago, false, new { id = "married-false" })
                                    @Html.Label("married-true", "Tarjeta")
                                    @Html.ValidationMessageFor(model => model.tipopago, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group3">
                                <h5>Factura Electrónica?</h5>
                                @Html.CheckBox("Facturar", htmlAttributes: new { @class = "control-label col-md-2", @data_toggle = "modal", @data_target = "#exampleModal" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group3">
                                @Html.Label("Entrada Efectivo", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <input name="entrada" type="number" class="form-control" id="message-text" style="max-width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group3">
                                <h5>Nombre del cliente</h5>
                                @Html.EditorFor(x => x.nombre_cliente)

                            </div>
                            @Html.ValidationMessageFor(model => model.nombre_cliente, "", new { @class = "text-danger" })
                        </div>
                       
                    </div>
                </div>

                <br />
                <hr />
                <span class="glyphicons glyphicons-hand-left"></span>
                <div id="resultadoDetalle">
                    @if (Web.ViewModel.Carrito.Instancia.Items.Count() > 0)
                    {
                        @Html.Partial("~/Views/Venta/Detalle.cshtml", (List<Web.ViewModel.ViewModelDetalleEncabezado>)ViewBag.DetalleOrden)
                    }
                    else
                    {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            El detalle de la venta no tiene artículos asignados
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }

                </div>
                <hr />
                <section class="abajo">
                    <!-- Submit -->
                    <button class="boton1" id="btnOrdenar">Registrar Venta</button>
                </section>

            }
        </center>
        <br />
    </section>

    <!--Modal de crear reseña-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="color:black;" class="modal-title fs-5" id="exampleModalLabel">Solicite los datos para la factura electrónica</h1>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
                </div>

                @using (Html.BeginForm("obtenerDatosForm", "Venta"))
                {
                    <form>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" id="name" style="max-width:100%" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Apellidos:</label>
                                <input name="lastname" class="form-control" id="message-text" style="max-width:100%">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Email:</label>
                                <input name="email" class="form-control" id="message-text" style="max-width:100%">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Teléfono:</label>
                                <input name="phone" class="form-control" id="message-text" style="max-width:100%">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button style="background-color:#09f238; color:white" type="submit" class="btn">Aceptar</button>
                        </div>
                    </form>
                }

            </div>
        </div>
    </div>


    @section Scripts {

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jqueryajax")

        <!--Script del modal----------------------------------->
        
        @{ 
            <script>
                const getValueInput = () =>
            {
                var inputValue = document.getElementByName("nombre").value;
                @TempData["Nombre"] = inputValue;
                alert("prueba");
                console.log("prueba");
            }
            </script>

        }
        <script type="text/javascript">

            //Desmarcar el checkbox cuando en el modal le den click en cancelar
            $("button").click(function () {
                // Desmarcar todas las checkboxes
                $("input[type=checkbox]").prop("checked", false);
            })


            //Actualizar cantidad de libros en el carrito
            //Cambio de cantidad en caja de texto
            function updateCantidad(ctr) {
                var txtCantidad = $(ctr);
                var cantidad = txtCantidad.val();
                var id = txtCantidad.data("productoid");
                $.ajax({
                    type: "GET",
                    dataType: 'text',
                    url: "/Venta/actualizarCantidad",
                    data: { "idArticulo": id, "cantidad": cantidad },
                    success: function (data) {
                        $("#resultadoDetalle").html('');
                        $("#resultadoDetalle").html(data);
                        updateCantLibros();
                    }, error: function (xhr, status, error) {
                        console.log("Error: " + error + ", No Error: " + xhr.status);
                    },
                });
            }
            //Actualizar cantidad de libros en el menú
            function updateCantLibros() {
                $.ajax({
                    type: "GET",
                    dataType: 'text',
                    url: "/Venta/actualizarOrdenCantidad",
                    success: function (data) {
                        $("#cantidadLibros").html('');
                        $("#cantidadLibros").html(data);
                    }, error: function (xhr, status, error) {
                        console.log("Error: " + error + ", No Error: " + xhr.status);
                    },
                });
            }

            function updateEntrada() {
                $.ajax({
                    type: "GET",
                    dataType: 'text',
                    url: "/Encabezado_Inventario/appearEntrada",
                    success: function (data) {
                        $("#searchResults").html('');
                        $("#searchResults").html(data);
                    }, error: function (xhr, status, error) {
                        console.log("Error: " + error + ", No Error: " + xhr.status);
                    },
                });
            }

        </script>


        <!--Para aparecer y desaparecer el nombre del cliente-->
        <script type="text/javascript">

            function aparecerProveedor() {
                var seleccionado = $('#movimiento').val();
                $("#searchResults").text(seleccionado)
            }

            $(document).ready(function () {
                $("#movimiento").change(function () {
                    var seleccionado = $("#movimiento Option:Selected").text();
                    if (seleccionado == "entrada") {
                        $ajax({
                            type: "GET",
                            dataType: 'text',
                            url: "/Encabezado_Inventario/appearEntrada",
                            success: function (data) {
                                $("#searchResults").html('');
                                $("#searchResults").html(data);
                            }, error: function (xhr, status, error) {
                                console.log("Error: " + error + ", No Error: " + xhr.status);
                            },
                        });
                    } else {
                        $.ajax({
                            type: "GET",
                            dataType: 'text',
                            url: "/Encabezado_Inventario/AppearSalida",
                            success: function (data) {
                                $("#searchResults").html('');
                                $("#searchResults").html(data);
                            }, error: function (xhr, status, error) {
                                console.log("Error: " + error + ", No Error: " + xhr.status);
                            }
                        });
                    }

                },
                                                                                })
        </script>
    }

</main>


