<link rel="stylesheet" href="~/Content/CSSEstiloIngresos/EstiloIngresos.css">

@{
    ViewBag.Title = "Cotizar";
}


<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Cotizaciones
            </h2>

        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper13.png" />
        </div>
    </div>
    <div class="wave" style="height: 135px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <center>
        <section class="formulario">
            <center>
                <br />
                <h2 id="titulo">Cotización</h2>
                <br />
                <strong>Seleccione los artículos y podrá ver el costo aproximado que tendría el obtenerlos</strong>
                <br />
                @using (Html.BeginForm("Save", "Ingreso", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()


                    <div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group3">
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                    <br />
                    <hr />
                    <span class="glyphicons glyphicons-hand-left"></span>
                    <div id="resultadoCotizacion">
                        @if (Web.ViewModel.Cotizacion.Instancia.Items.Count() > 0)
                        {
                            @Html.Partial("~/Views/Cotizacion/_PartialViewDetalle.cshtml", (List<Web.ViewModel.ViewModelDetalleIngreso>)ViewBag.DetalleIngreso)
                        }
                        else
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                El detalle de la cotización no tiene artículos asignados
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }

                    </div>
                    <hr />

                    <section class="abajo">
                        <h5>Seleccione los artículos a cotizar en la sección de abajo</h5>
                    </section>

                }
            </center>
            <br />
        </section>
        <section class="desarrollo">
            <div class="elementos1">
                <div class="elementoizquierdo">
                    <h2 class="titulo">Artículos disponibles</h2>
                </div>
            </div>
            <br />
            <br />
            <center>
                <div id="ajaxLoader" class="loader" ; style="display:none">
                    <svg viewBox="0 0 80 80">
                        <circle id="test" cx="40" cy="40" r="32"></circle>
                    </svg>
                </div>

                <div id="ajaxLoader" class="loader triangle" ; style="display:none">
                    <svg viewBox="0 0 86 80">
                        <polygon points="43 8 79 72 7 72"></polygon>
                    </svg>
                </div>

                <div id="ajaxLoader" class="loader" ; style="display:none">
                    <svg viewBox="0 0 80 80">
                        <rect x="8" y="8" width="64" height="64"></rect>
                    </svg>
                </div>
                <div class="container">
                    <table class="table">
                        @{
                            List<Infraestructure.Models.Articulo> listaArticulo = ViewBag.listaArticulos;
                        }

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre")
                                </th>
                                <th>
                                    @Html.DisplayName("Precio")
                                </th>
                                <th>
                                    @Html.DisplayName("Categoría")
                                </th>
                                <th>
                                    @Html.DisplayName("Disponibles")
                                </th>
                                <th><p>Opciones</p></th>
                            </tr>
                        </thead>
                        @foreach (var arti in listaArticulo)
                        {
                            <tbody id="resultado">
                                <tr>
                                    <td>
                                        @arti.nombre
                                    </td>
                                    <td>
                                        ₡@arti.precio
                                    </td>
                                    <td>
                                        @arti.Categoria.descripcion
                                    </td>
                                    <td>
                                        @arti.stock
                                    </td>
                                    <td class="columnabotones">
                                        <button class="boton2">@Html.ActionLink("Cotizar", "Cotizar", new { id = arti.id }, new { title = "Agregar a la compra" })</button>
                                    </td>
                                </tr>

                            </tbody>
                        }
                    </table>
                </div>
            </center>
        </section>
    </center>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")

    <script type="text/javascript">

        //Actualizar cantidad de articulos en la comprita
        //Cambio de cantidad en caja de texto
        function updateCantidadC(ctr) {
            var txtCantidad = $(ctr);
            var cantidad = txtCantidad.val();
            var id = txtCantidad.data("productoid");
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Cotizacion/actualizarCantidad",
                data: { "idArticulo": id, "cantidad": cantidad },
                success: function (data) {
                    $("#resultadoCotizacion").html('');
                    $("#resultadoCotizacion").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }


        //Actualizar cantidad de articulos que se seteen
        function updateCantLibrosC() {
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Cotizacion/actualizarOrdenCantidad",
                success: function (data) {
                    $("#cantidadCompra").html('');
                    $("#cantidadCompra").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }

    </script>
}

