
@model IEnumerable < Infraestructure.Models.Arqueos_Caja>

@{
    ViewBag.Title = "Caja Chica";
}


<link rel="stylesheet" href="~/Content/CSSEstiloCaja/EstiloListaCaja.css">

<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Estado de caja chica
            </h2>

        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper2.png" />
        </div>
    </div>
    <div class="wave" style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <center>
        <section class="desarrollo">
            <div class="elementos1">
                <div class="elementoizquierdo">
                    <h2 class="titulo">Actualizaciónes de caja</h2>
                </div>
                <div class="col-md-5">
                    <button class="boton1" data-toggle="modal" data-target="#exampleModal">Abrir Caja</button>

                    <button class="boton1"><p>@Html.ActionLink("Cerrar Caja", "CerrarCaja")</p></button>

                </div>
            </div>
            <br />
            <center>
                <div id="ajaxLoader" class="loader" ; style="display:none">
                    <svg viewBox="0 0 80 80">
                        <circle id="test" cx="40" cy="40" r="32"></circle>
                    </svg>
                </div>

                <div id="ajaxLoader" class="loader triangle" ; style="display:none">
                    <svg viewBox="0 0 86 80">
                        <polygon points="43 8 79 72 7 72"></polygon>
                    </svg>
                </div>

                <div id="ajaxLoader" class="loader" ; style="display:none">
                    <svg viewBox="0 0 80 80">
                        <rect x="8" y="8" width="64" height="64"></rect>
                    </svg>
                </div>
                <div class="container">
                    <br />
                    @{
                        int id = 0;
                        Infraestructure.Models.Usuario oUsuario;
                        //Validar si existe en la sesión
                        if (Session["User"] != null)
                        {
                            oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                            if (oUsuario != null)
                            {
                                id = oUsuario.id;
                                ViewBag.idUser = id;

                                TempData["idUser"] = id;

                            }
                        }
                    }
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fecha)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Usuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.estado)
                                </th>
                                <th style="text-align:right">
                                    @Html.DisplayNameFor(model => model.saldo)
                                </th>
                            </tr>
                        </thead>
                        <tbody id="resultado">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Usuario.nombre)
                                    </td>
                                    <td>
                                        @{ string isActive = item.estado == true ? "Abierta" : "Cerrada"; }
                                        @isActive
                                    </td>
                                    <td style="text-align:right">
                                        ₡@Html.DisplayFor(modelItem => item.saldo)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </center>
        </section>
    </center>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="color:black;" class="modal-title fs-5" id="exampleModalLabel">Abrir la caja chica</h1>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                @using (Html.BeginForm("AbrirCaja", "Cajachica", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Dígite el monto actual de la caja</label>
                            <input name="monto" type="number" class="form-control" value="0" id="recipient-name" style="max-width:100%" placeholder="40000...">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Abrir Caja</button>
                    </div>
                }
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}


