@model IEnumerable<Infraestructure.Models.Ingreso>
@{
    ViewBag.Title = "Reporte de Ingresos";
}


<link rel="stylesheet" href="~/Content/CSSEstiloReportes/EstiloReportes.css">
<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
     
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Crear reporte de ingresos
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper4.png" />
        </div>
    </div>
    <div class="wave" style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <center>
        <section class="desarrollo">
            <br />
            <button class="pdf">
                @Html.ActionLink("Generar reporte", "CreatePdfIngresos", "Reportes")<img src="~/Imagenes/Iconos/pdf.png" />
            </button>
            <br />
            <br />
            <div class="container">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.monto_total)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fecha)
                            </td>
                            <td>
                                &cent;@Html.DisplayFor(modelItem => item.monto_total)
                            </td>
                        </tr>
                    }

                </table>

                <!--Tomar el usuario Logueado-->
                @{
                    string nombre = "Sesión no iniciada";
                    string email = "Perfil";
                    int id = 0;
                    Infraestructure.Models.Usuario oUsuario;
                    //Validar si existe en la sesión
                    if (Session["User"] != null)
                    {
                        oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                        if (oUsuario != null)
                        {
                            nombre = $"{oUsuario.nombre}";
                            email = oUsuario.correo_electronico;
                            id = oUsuario.id;
                            ViewBag.idUser = id;

                            TempData["idUser"] = id;

                        }
                    }
                }
            </div>
        </section>
    </center>

</main>

