@model IEnumerable<Infraestructure.Models.Articulo>
@{
    ViewBag.Title = "Reporte de Artículos";
}

<link rel="stylesheet" href="~/Content/CSSEstiloReportes/EstiloReportes.css">
<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Crear reporte de artículos
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper4.png" />
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <center>
        <section class="desarrollo">
            <button class="pdf">
                @Html.ActionLink("Generar reporte", "CreatePdfArticulos", "Reportes")<img src="~/Imagenes/Iconos/pdf.png" />
            </button>
            <br />
            <br />
            <br />

            <table class="table">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.stock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.imagen)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            &cent;@Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.stock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria.descripcion)
                        </td>
                        <td class="foto">
                            <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.imagen)" role="img"
                                 alt="Artículo @Html.DisplayNameFor(model => model.nombre)"
                                 class="bd-placeholder-img" width="70" height="70">

                        </td>
                    </tr>
                }

            </table>
        </section>
    </center>

</main>


