@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "Details";
}


<link rel="stylesheet" href="~/Content/CSSEstiloUsuarios/EstiloDetalleUsuario.css">

<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Detalles del usuario
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper7.png" />
        </div>
    </div>
    <div class="wave" style="height: 135px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <section class="desarrollo">
        <div class="tarjeta">
            <div class="ladoizquierdo">
                <center>
                    <h3>@Html.DisplayFor(model => model.nombre)</h3>
                </center>
                <div class="texto">
                    <p class="">

                        <b>@Html.DisplayNameFor(model => model.nombre):</b> @Html.DisplayFor(model => model.nombre)<br />
                        <b>@Html.DisplayNameFor(model => model.apellidos):</b> @Html.DisplayFor(model => model.apellidos)<br />
                        <b>@Html.DisplayNameFor(model => model.correo_electronico):</b> @Html.DisplayFor(model => model.correo_electronico)<br />
                        <b>@Html.DisplayNameFor(model => model.telefono):</b> @Html.DisplayFor(model => model.telefono)<br />
                        <b>@Html.DisplayNameFor(model => model.estado):</b> @Html.DisplayFor(model => model.estado)<br />
                        <b>@Html.DisplayNameFor(model => model.Rol):</b> @Html.DisplayFor(model => model.Rol.tipo)<br />
                    </p>
                </div>
            </div>
            <div class="ladoderecho">
                <center><img alt="Usuario" src="~/Imagenes/Visuals/usuario.png" /></center>
            </div>
        </div>
        <br />
        <center>
            <div class="botones_producto">
                <button class="boton1">@Html.ActionLink("Editar Usuario", "Edit", new { id = Model.id })</button>
                <button class="boton1">@Html.ActionLink("Volver a lista", "Index")</button>
            </div>
        </center>
    </section>
</main>


