@model Web.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Recuperación de contraseña";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/CSSEstiloLogin/EstiloRecuperarClave.css">

<section class="section_header">
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Recuperar Contraseña...
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper12.png" />
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>

<body>
    <div class="card-container">
       
        <main class="main-content">
            <h1>Ingrese su correo electrónico</h1>
            <div class="col">
                @using (Html.BeginForm("IniciarRecuperacion", "Usuario", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal" id="formulario" align="center">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">                 
                            <div class="col">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <div class="col">
                                <input type="submit" value="Enviar" class="btn btn-success" style="margin-top:10px;" />
                            </div>                 
                    </div>
                }
            </div>
            <br />
            <p>Con este formulario podra solicitar su cambio de contraseña en VYCUZ</p>
        </main>
    </div>
</body>
<br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
