@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "Recuperación";
}
<link rel="stylesheet" href="~/Content/CSSEstiloLogin/EstiloRecuperarClave.css">

<section class="section_header">
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Cambiar sus datos
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper12.png" />
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>

<div class="containerclave">
    <br />
    <center><h2>Digíte su nueva contraseña</h2></center>
    <hr style="border-color: #427AA1" />
    <div class="row">
        @if (TempData["Message"] != null)
        {
            string mensaje = @"<div class='alert alert-danger alert-dismissible' role='alert'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span> </button><strong>Error!</strong> " + TempData["Message"] + " </div>";
            @Html.Raw(mensaje);
        }
        @using (Html.BeginForm("Recuperacion", "Usuario", FormMethod.Post))
        {
            //@Html.AntiForgeryToken()
            <div class="form-horizontal" id="formulario" align="center">
                @Html.HiddenFor(model => model.tokenRecuperacion)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col">
                        @*Campo tipo password*@
                        @Html.PasswordFor(model => model.clave, new { @class = "form-control", placeholder = "Ingrese su contraseña", @type = "password", @id = "password-field" })
                        <button class="btn btn-success" type="button" onclick="mostrarContrasena()">Ver</button>
                    </div>
                    @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                </div>

                <hr style="border-color: #427AA1" />
                @*Para la confirmación de contraseña*@
                <div class="form-group">
                    @Html.Label("Confirmar", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col">
                        @Html.Password("Confirmar", "", new { @class = "form-control", placeholder = "Confirme su contraseña", @type = "password", @id = "confirm-password-field" })
                        <button class="btn btn-success" type="button" onclick="mostrarConfirm()">Ver</button>

                    </div>
                    <label class="text-danger" id="mensaje"></label>
                </div>

                <div class="row">
                    <div class="col">
                        <input onclick="passwordValidate()" type="submit" value="Validar" class="btn btn-success" style="margin-top:10px;" />
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function passwordValidate() {
            if (document.getElementById("Confirmar").value != document.getElementById("contrasena").value) {
                alert("Las contraseñas no coinciden");
                event.preventDefault();
            }
        }
    </script>
    <script>
        function mostrarContrasena() {
            var campo = document.getElementById("password-field");
            if (campo.type === "password") {
                campo.type = "text";
            } else {
                campo.type = "password";
            }
        }
    </script>
    <script>
        function mostrarConfirm() {
            var campo = document.getElementById("confirm-password-field");
            if (campo.type === "password") {
                campo.type = "text";
            } else {
                campo.type = "password";
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#mensaje').hide();
        });

        var cambioDePass = function () {
            var cont = $('#contrasena').val();
            var cont2 = $('#Confirmar').val();
            if (cont == cont2) {
                $('#mensaje').hide();
                $('#mensaje').show();
                $('#mensaje').html("");
            } else {
                $('#mensaje').html("Las constraseñas no coinciden");
                $('#mensaje').show();
            }
        }

        $("#contrasena").on('keyup', cambioDePass);
        $("#Confirmar").on('keyup', cambioDePass);

    </script>
}

