@model Infraestructure.Models.Usuario
@{
    ViewBag.Title = "Inicio Sesión";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<link rel="stylesheet" href="~/Content/CSSEstiloLogin/EstiloLogin.css">


<section class="section_header">

    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Inicio de Sesión...
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper12.png" />
        </div>
    </div>
    <div class="wave" style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<center>
    @using (Html.BeginForm("Login", "Home"))
    {
        <main>
            <br />
            <center>
                <div class="formulario">
                    <br />
                    <h2>Bienvenido</h2>
                    <h4>Por favor digíte sus datos</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.correo_electronico, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo Electrónico" } })
                            @Html.ValidationMessageFor(model => model.correo_electronico, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group2">
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.clave, new { @class = "form-control", @placeholder = "Contraseña", @id = "password-field" })
                            <button type="button" class="eye-btn"button" onclick="mostrarContrasena()">Ver</button>
                        </div>
                        @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Continuar" class="btn btn-default" title="Iniciar sesión" />
                        </div>
                    </div>
                    <br />
                    <h4>Olvidó su contraseña? <a>@Html.ActionLink("Recuperar Contraseña", "IniciarRecuperacion", "Usuario", new { title = "Recuperar su contraseña con el correo" }, null)</a></h4>
                    <h4>______________O______________</h4>
                    <h4>No posee una cuenta? <a>@Html.ActionLink("Registrarse", "Registro", new { title = "Crear una nueva cuenta en VYCUZ" })</a></h4>
                    <br />
                </div>
            </center>
            <br />
            <br />
        </main>
    }
</center>

@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(@ViewBag.NotificationMessage);
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function mostrarContrasena() {
            var campo = document.getElementById("password-field");
            if (campo.type === "password") {
                campo.type = "text";
            } else {
                campo.type = "password";
            }
        }
    </script>

}
