@model Infraestructure.Models.Usuario

@{
    ViewBag.Title = "Crear Cuenta";
}

<link rel="stylesheet" href="~/Content/CSSEstiloUsuarios/EstiloRegistro.css">
<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Registrar su cuenta
            </h2>

        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper14.png" />
        </div>
    </div>
    <div class="wave" style="height: 120px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>

<main>
    <center>
        @using (Html.BeginForm("SaveCliente", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h4 id="titulo">Digíte sus datos</h4>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="secciones">
                <div class="seccion1">
                    <section class="cuerpoleft">

                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Su Nombre..." } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.apellidos, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sus apellidos..." } })
                                @Html.ValidationMessageFor(model => model.apellidos, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.PasswordFor(model => model.clave, new { htmlAttributes = new { @class = "formcontrol3", @placeholder = "*********" } })
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    
                    </section>
                    <section class="cuerporight">

                        <div class="form-group">
                            @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "#Num Telefónico" } })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.correo_electronico, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.correo_electronico, new { htmlAttributes = new { @class = "form-control", @placeholder = "ejemplo@gmail.com" }})
                                @Html.ValidationMessageFor(model => model.correo_electronico, "", new { @class = "text-danger" })
                            </div>
                        </div>
                      
                     
                        <div class="form-group2">
  
                            <input type="submit" value="Crear Cuenta" class="btn" />
                            <button class="btn">@Html.ActionLink("<- Volver Atrás", "Loguearse")</button>
                        </div>
                    </section>
                </div>
                <br />
            </div>
        }
        <br />
        <br />
    </center>
</main>
