@model Infraestructure.Models.Articulo

@{
    ViewBag.Title = "Agregar Artículo";
}

<link rel="stylesheet" href="~/Content/CSSEstiloArticulos/EstiloCreate.css">
<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Agregar un nuevo artículo
            </h2>

        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper12.png" />
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>

<main>
    <center>
        @using (Html.BeginForm("Save", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h4 id="titulo">Información del nuevo artículo</h4>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="secciones">
                <div class="seccion1">
                    <section class="cuerpoleft">
                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.precio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.precio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.precio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("categoria",
                               (SelectList)ViewBag.categoria_id,
                               "Seleccione acá",
                               new { htmlAttributes = new { @class = "combo" } })

                            </div>
                        </div>
                    </section>
                    <section class="cuerporight">

                        <div class="form-group">
                            @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
                            <br />
                            <br />
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Proveedor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("proveedor",
                               (SelectList)ViewBag.idProveedor,
                               "Seleccione acá",
                               new { htmlAttributes = new { @class = "form-control" } })

                            </div>
                        </div>
                    </section>
                </div>
                <div class="seccion2">
                    <div class="form-group2">

                        <input type="submit" value="Guardar Artículo" class="btn"/>
                        <button class="btn">@Html.ActionLink("<- Volver Atrás", "Index")</button>
                    </div>
                </div>
                <br />
            </div>
        }
        <br />
        <br />
    </center>
</main>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
