@model Infraestructure.Models.Articulo

@{
    ViewBag.Title = "Detalles";
}

<link rel="stylesheet" href="~/Content/CSSEstiloArticulos/EstiloDetalleArticulo.css">

<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Detalles y reseñas del producto
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper7.png" />
        </div>
    </div>
    <div class="wave" style="height: 135px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <section class="desarrollo">
        <div class="tarjeta">
            <div class="ladoizquierdo">
                <center>
                    <h3>@Html.DisplayFor(model => model.nombre)</h3>
                </center>
                <div class="texto">
                    <p class="">
                        <b>Precio:</b> &cent;@Html.DisplayFor(model => model.precio)<br />
                        <b>@Html.DisplayNameFor(model => model.stock):</b> @Html.DisplayFor(model => model.stock)<br />
                        <b>@Html.DisplayNameFor(model => model.Categoria.descripcion):</b> @Html.DisplayFor(model => model.Categoria.descripcion)<br />
                      

                        <b>@Html.DisplayNameFor(model => model.Proveedor):</b>
                        <ul>
                            @foreach (var c in Model.Proveedor)
                            {
                                <li>@c.descripcion</li>
                            }
                        </ul>
                    </p>
                </div>
            </div>
            <div class="ladoderecho">
                <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.imagen)" role="img" alt="Producto @Html.DisplayNameFor(model => model.nombre)">
            </div>
        </div>
        <br />

        <center>
            <div class="botones_producto">
                <button class="boton1">
                    @Ajax.ActionLink("Agregar Carrito",//Texto para el usuario
                   "ordenarProducto",//Acción a llamar
                   "Venta",
                   new
                   {
                       idArtiuclo = Model.id
                   },//Parámetros a enviar
                   new AjaxOptions
                   {
                       UpdateTargetId = "cantidadLibros",
                       InsertionMode = InsertionMode.Replace,
                       HttpMethod = "GET",
                   }, new {  }
                   )
                </button>
                <button class="boton1">@Html.ActionLink("Volver a lista", "IndexCatalogo", "Articulo", new { title = "Regresar a la lista" })</button>
            </div>
        </center>
    </section>
    <section class="partebaja">
        <center>
            @{
                TempData["idArticulo"] = Model.id;
            }

            <br />
            <br />
            <h1>Reseñas de este artículo</h1>
            <br />
            @Html.Partial("ResenaArticulo")


            <div class="row">

                @{
                    List<Infraestructure.Models.Resena> listaResena = ViewBag.listaResena;
                }

                @foreach (var resena in listaResena)
                {
                    <div class="columna">
                        <div class="left">
                            <center>
                                <img src="~/Imagenes/Avatares/avatar1.png" />
                                <br />
                                <br />
                                <h3>@resena.Usuario.nombre</h3>
                            </center>
                        </div>
                        <div class="right">
                            <h3>@resena.Articulo.nombre</h3>
                            <h4>@resena.encabezado</h4>

                            <p>
                                @resena.comentario
                            </p>
                        </div>

                    </div>
                }
            </div>
        </center>
    </section>
</main>

