@model Infraestructure.Models.Articulo

@{
    ViewBag.Title = "Detalles";
}


<link rel="stylesheet" href="~/Content/CSSEstiloResenas/swiper-bundle.min.css">
<link rel="stylesheet" href="~/Content/CSSEstiloArticulos/EstiloDetalleArticulo.css">


<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png">
            </div>
            <br />
            <h2>
                Detalles y reseñas del producto
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper7.png">
        </div>
    </div>
    <div class="wave" style="height: 135px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>

<main>
    <section class="desarrollo">
        <div class="tarjeta">
            <div class="ladoizquierdo">
                <center>
                    <h3>@Html.DisplayFor(model => model.nombre)</h3>
                </center>
                <div class="texto">
                    <p class="">
                        <b>Precio:</b> &cent;@Html.DisplayFor(model => model.precio)<br />
                        <b>@Html.DisplayNameFor(model => model.stock):</b> @Html.DisplayFor(model => model.stock)<br />
                        <b>@Html.DisplayNameFor(model => model.Categoria.descripcion):</b> @Html.DisplayFor(model => model.Categoria.descripcion)<br />
                        <b>@Html.DisplayNameFor(model => model.Proveedor):</b> @Html.DisplayFor(model => model.Proveedor.descripcion)<br />
                    </p>
                </div>
            </div>
            <div class="ladoderecho">
                <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(Model.imagen)" role="img" alt="Producto @Html.DisplayNameFor(model => model.nombre)">
            </div>
        </div>
        <br />

        <center>
            <div class="botones_producto">
                @{
                    if (Session["User"] != null && ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 1)
                    {
                        <button class="boton1">
                            @Ajax.ActionLink("Comprar",//Texto para el usuario
                                "ordenarProducto",//Acción a llamar
                                "Venta",
                                new
                                {
                                    idArtiuclo = Model.id
                                },//Parámetros a enviar
                                new AjaxOptions
                                {
                                    UpdateTargetId = "cantidadLibros",
                                    InsertionMode = InsertionMode.Replace,
                                    HttpMethod = "GET",
                                }, new { }
                                )
                            <img src="~/Imagenes/Iconos/shopping-cart.png" />

                     
                        </button>
                        }
                    }
                    <button class="boton1">@Html.ActionLink("Volver a lista", "IndexCatalogo", "Articulo", new { title = "Regresar a la lista" })</button>
                </div>
        </center>
    </section>
    <section class="partebaja" style=" overflow-y: hidden; overflow-x:hidden">
        <center>
            @{
                TempData["idArticulo"] = Model.id;
            }
            @{
                int id = 0;
                Infraestructure.Models.Usuario oUsuario;
                //Validar si existe en la sesión
                if (Session["User"] != null)
                {
                    oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                    if (oUsuario != null)
                    {
                        id = oUsuario.id;
                        ViewBag.idUser = id;

                        TempData["idUser"] = id;

                    }
                }
            }
            <br />
            <br />
            <h1>Reseñas de este artículo</h1>
            <br />

            <!--Boton que llama al modal que esta abajo de la pagina lo llama con el datatoggle y datatarget-->
            <button type="button" class="agregar" data-toggle="modal" data-target="#exampleModal">Agregar </button>
        </center>
        <br />
        <center>
            <div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        @{
                            List<Infraestructure.Models.Resena> listaResena = ViewBag.listaResena;
                        }
                        @foreach (var resena in listaResena)
                        {
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="columna">
                                        <div class="left">
                                            <center>
                                                <img src="~/Imagenes/Avatares/avatar1.png" />
                                                <br />
                                                <br />
                                                <h3>@resena.Usuario.nombre</h3>
                                            </center>
                                        </div>
                                        <div class="right">
                                            <h4>@resena.Articulo.nombre</h4>
                                            <h5>@resena.encabezado</h5>

                                            <p>
                                                @resena.comentario
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <br />
                    <div class="swiper-pagination"></div>
                </div>

                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!--Script del modal----------------------------------->
                <script src="~/Scripts/resenas/resena.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                        slidesPerView: 3,
                        spaceBetween: 30,
                        pagination: {
                            el: ".swiper-pagination",
                            clickable: true,
                        },
                    });
                </script>
            </div>
            <br />
        </center>
    </section>


    <!--Modal de crear reseña-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="color:black;" class="modal-title fs-5" id="exampleModalLabel">Escriba su reseña para el @Model.nombre</h1>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                @using (Html.BeginForm("CrearReseña", "Articulo", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Encabezado:</label>
                            <input name="enca" type="text" class="form-control" id="recipient-name" style="max-width:100%">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Comentario:</label>
                            <textarea name="comen" class="form-control" id="message-text" style="max-width:100%"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar Reseña</button>
                    </div>
                }
            </div>
        </div>
    </div>

</main>




