<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VYCUZ</title>
    <link rel="shortcut icon" href="~/Imagenes/Logos/logoPestaña.png" type="image/x-icon">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/CSSEstiloLayout/EstiloLayout.css">
    <script src="~/Scripts/main/main.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark badge-primary">
        <div class="container-fluid">
          
            <a href="" class="navbar-brand"><img class="imagennav" src="~/Imagenes/Logos/logoIcono.png" alt="Beyond Technology" /></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    @{
                        if (Session["User"] == null || ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 2)
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Inicio", "Index", "Home", null, new { @class = "nav-link" })
                            </li>
                        }
                    }
                    @{
                        if (Session["User"] != null && (((Infraestructure.Models.Usuario)Session["User"]).rol_id == 1 || ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 3))
                        {
                            <li class="nav-item">
                                @Html.ActionLink("Administración", "IndexAdmin", "Home", null, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" title="Ver los mantenimientos del sistema VYCUZ" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Artículos", "Index", "Articulo", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Servicios", "Index", "ServicioReparacion", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Categorías", "Index", "Categoria", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Reparaciones", "Index", "Reparaciones", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Proveedores", "Index", "Proveedor", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Caja Chica", "Index", "CajaChica", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Empresa", "Index", "Empresa", null, new { @class = "dropdown-item" })

                                    @{
                                        if (Session["User"] != null && ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 1)
                                        {
                                            @Html.ActionLink("Usuarios", "Index", "Usuario", null, new { @class = "dropdown-item" })
                                        }
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Compras", "IndexIngreso", "Ingreso", new { title = "Ir al catálogo de productos" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" title="Ver reparaciones" aria-haspopup="true" aria-expanded="false">Reparaciones</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Registrar Nueva", "Create", "Reparaciones", new { title = "Crear una nueva reparación" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Registrar Pagos", "IndexCobros", "Reparaciones", new { title = "Cobrar las reparaciones" }, new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Arqueo Caja", "IndexArqueos", "CajaChica", new { title = "Crear una nueva reparación" }, new { @class = "nav-link" })
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" title="Ver reparaciones" aria-haspopup="true" aria-expanded="false">Notas</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Crear Notas", "FrameNotas", "Notas", new { title = "Notas de Credito y Debito" }, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Liquidar Notas", "FrameLiquidar", "Notas", new { title = "Acciones para facturas" }, new { @class = "dropdown-item" })
                                </div>
                            </li>                    
                            <li class="nav-item" id="cantidadLibros">
                                @Html.Partial("MovimientoCantidad")
                            </li>

                        }
                    }
                    @{
                        if (Session["User"] != null && (((Infraestructure.Models.Usuario)Session["User"]).rol_id == 1))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" title="Ver los reportes" aria-haspopup="true" aria-expanded="false">Reportes</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Reportes", "MenuReportes", "Reportes", null, new { @class = "dropdown-item" })
                                </div>
                            </li>
                        }
                    }
                <li class="nav-item">
                    @Html.ActionLink("Artículos", "IndexCatalogo", "Articulo", new { title = "Ir al catálogo de productos" }, new { @class = "nav-link" })
                </li>
                    <li class="nav-item">
                        @Html.ActionLink("Cotizar", "Index", "Cotizacion", new { title = "Ir al formulario de contacto" }, new { @class = "nav-link" })
                    </li>
                    @{
                        if (Session["User"] != null && ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 2)
                                    {
                                        <li class="nav-item">
                                            @Html.ActionLink("Reparación", "IndexUsuario", "Reparaciones", new { title = "Ver sus reparaciónes" }, new { @class = "nav-link" })
                                        </li >
                                    }
                    }
                    <!--Para el Login VYCUZ-->
                    @{
                      string nombre = "Iniciar Sesión";
                        string email = "Perfil";
                        int id = 0;
                        Infraestructure.Models.Usuario oUsuario;
                            //Validar si existe en la sesión
                            if (Session["User"] != null)
                            {
                            oUsuario = (Infraestructure.Models.Usuario)Session["User"];
                            if (oUsuario != null)
                            {
                                nombre = $"{oUsuario.nombre}";
                                email = oUsuario.correo_electronico;
                                id = oUsuario.id;
                                TempData["idUser"] = id;
                            }
                        }
                    }
                    <li class="nav-item dropdown me-auto" id="login">
                        <a class=" btn btn-success nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@nombre</a>

                        <div class="dropdown-menu" id="login">
                            @if (Session["User"] != null)
                            {
                                <div class="login">
                                    @* Nombre Usuario *@
                                    Usuario: @nombre
                                </div>
                            }

                            <div class="dropdown-divider"></div>
                            @if (Session["User"] == null)
                            {
                                @Html.ActionLink("Login VYCUZ", "Loguearse", "Home", null, new { @class = "dropdown-item" })
                            }
                            else
                            {

                                @Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "dropdown-item" })
                            }

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div>
        <!--class="container body-content"-->
        @RenderBody()

        <footer>
            <section class="container-fluid sec-footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card desc-box">
                                <div class="card-body">
                                    <div class="card-title">Sobre Nosotros</div>
                                    <div class="card-text">
                                        Somos una empresa con gran auge en ventas de dispositivos electrónicos,
                                        ubicados en el City Mall de Alajuela hemos brindado una excelente atención a nuestros clientes,
                                        y brindado productos de primera calidad entre ellos: temperados, videojuegos, componentes internos, estuches, luces, accesorios, etc...
                                        compra con nosotros y viví la experiencia VYCUZ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card desc-box">
                                <div class="card-body">
                                    <div class="card-title">Contáctenos</div>
                                    <div class="card-text">
                                        <div class="row">
                                            <div class="col">
                                                <img src="~/Imagenes/Iconos/tel.png" alt="Beyond Technology" class="mb-3">
                                                <span>2433-7070</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <img src="~/Imagenes/Iconos/ubi.png" alt="Beyond Technology" class="mb-3">
                                                <span>City Mall</span>
                                            </div><!--.col-->
                                        </div><!--.row-->
                                        <div class="row">
                                            <div class="col">
                                                <img src="~/Imagenes/Iconos/mail.png" alt="Beyond Technology" class="mb-3">
                                                <span>VYCUZ@gmail.com</span>
                                            </div><!--.col-->
                                        </div><!--.row-->
                                    </div><!--.card-text-->
                                </div>
                            </div><!--.card-->
                        </div><!--.col-->
                        <div class="col text-center">
                            <br /><br />
                            <img src="~/Imagenes/Logos/logomenu.png" alt="Beyond Technology" class="mb-3">
                            <br class="clearfix">
                            <a href="#" title="Ir al perfil de facebook" class="snip1472"><img src="~/Imagenes/Iconos/facebook.png" alt="Beyond Technology" /></a>
                            <a href="#" title="Ir al perfil de Instagram" class="snip1472"><img src="~/Imagenes/Iconos/instagram.png" alt="Beyond Technology" /></a>
                            <a href="#" title="Ir al chat de Telegram" class="snip1472"><img src="~/Imagenes/Iconos/telegram.png" alt="Beyond Technology" /></a>
                            <a href="#" title="Ir al buscador de Google" class="snip1472"><img src="~/Imagenes/Iconos/google.png" alt="Beyond Technology" /></a>
                            <br class="clearfix" />
                            <br class="clearfix" />
                            @{
                                if (Session["User"] != null && (((Infraestructure.Models.Usuario)Session["User"]).rol_id == 1 || ((Infraestructure.Models.Usuario)Session["User"]).rol_id == 3))
                                {
                                    <button class="ayuda"><a href="~/PDF/Manual de usuario VYCUZ.pdf">Ayuda en línea</a></button>
                                    }
                                }
                                </div><!--.col-->
                    </div><!--.row-->

                </div>
            </section>
        </footer>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up">Hola</i></a>
    </div>



    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)

    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>
</html>
