 @{ int cantidadLibros = Web.ViewModel.Carrito.Instancia.GetCountItems();}

<a href="@Url.Action("IndexVenta", "Venta")" class="nav-link">
    Carrito <span class="numero">   @cantidadLibros</span>
</a>

@if (@ViewBag.NotiCarrito != null)
{
    <script>
            @Html.Raw(@ViewBag.NotiCarrito);
    </script>
}
