@model Infraestructure.Models.Empresa

@{
    ViewBag.Title = "Detalles";
}

<link rel="stylesheet" href="~/Content/CSSEstiloEmpresa/EstiloDetalleEmpresa.css">

<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <h2>
                Detalles de la empresa
            </h2>
        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper7.png" />
        </div>
    </div>
    <div class="wave" style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <section class="desarrollo">
        <div class="tarjeta">
            <div class="ladoizquierdo">
                <center>
                    <h3>Empresa VYCUZ</h3>
                </center>
                <div class="texto">
                    <p class="">
                        <b>@Html.DisplayNameFor(model => model.nombre):</b> @Html.DisplayFor(model => model.nombre)<br />
                        <b>@Html.DisplayNameFor(model => model.telefono):</b> @Html.DisplayFor(model => model.telefono)<br />
                        <b>@Html.DisplayNameFor(model => model.direccion):</b> @Html.DisplayFor(model => model.direccion)<br />
                    </p>
                </div>
            </div>
            <div class="ladoderecho">
                <center><img alt="Empresa VYCUZ" src="~/Imagenes/Logos/logo1.png" /></center>

            </div>
        </div>
        <br />
        <center>
            <div class="botones">
                <button class="boton1">@Html.ActionLink("Editar datos", "Edit", new { id = Model.id })</button>
                <button class="boton1">@Html.ActionLink("Volver atrás", "Index")</button>
            </div>
        </center>
    </section>
</main>
