@model IEnumerable<Infraestructure.Models.Empresa>

@{
    ViewBag.Title = "Lista empresa";
}


<link rel="stylesheet" href="~/Content/CSSEstiloEmpresa/EstiloListaEmpresa.css">

<section class="section_header">
    <br />
    <div class="contenidoHeader">
        <div class="izquieroHeader">
            <br />
            <br />
            <div class="logo">
                <img src="~/Imagenes/Logos/logo1.png" />
            </div>
            <br />
            <h2>
                Información empresarial
            </h2>

        </div>
        <div class="derechoHeader">
            <img src="~/Imagenes/Visuals/wallpaper6.png" />
        </div>
    </div>
    <div class="wave" style="height: 135px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M-15.52,87.33 C142.49,-1.47 348.47,137.66 501.97,91.28 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: white;"></path>
        </svg>
    </div>
</section>
<main>
    <section class="desarrollo">
        <div class="elementos1">
            <h2 class="titulo">Información actual de la empresa</h2>
        </div>
        <br />
        <center>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.telefono)
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td>
                            <button class="boton2"> @Html.ActionLink("Detalles", "Details", new { id = item.id })</button>
                            <button class="boton2"> @Html.ActionLink("Editar", "Edit", new { id = item.id })</button>
                        </td>
                    </tr>
                }

            </table>
        </center>
    </section>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}


